<!DOCTYPE html>
<html>
<head>
  <title>Loteria Carlos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<table class="layout be-purple white">
		<tr >
			<td class="col-md">
				<% if @sesion_iniciada == true %>
				<%= "Hola " + @u.password   %>
				<% elsif  @sesion_iniciada == false %>
				<%= link_to "Acceder", "login" %>
				<% end %>

			</td>

			<td class="col-md">
				<% if @admin_iniciado == true %>
				<%= "Hola administrador: " + @u.usuario %>
				<%else %>
				<%link_to "Acceder admin", "admin" %>
				<%end %>
			</td>
		</tr>
	</table>

	<%= yield %>

</body>
</html>

