<% 	page_to||="checklogin"
	boton||= "Acceder"
	campo1||="Usuario:"
	campo2||="Contraseña:"
	nueva_cuenta||=false
	repetir_campo2||=false
	repeticion_campo2||="Repita la contraseña:"
%>
<%= form_tag(page_to, method: "post")  do%>
	<div>
		<p><%= flash.notice %></p>
		<p class="strong-purple"><%= campo1 %> <%= text_field_tag 'user' %></p>
		<p class="strong-purple"><%= campo2 %> <%= password_field_tag 'password' %></p>
		<%if repetir_campo2%>
		<p class="strong-purple"><%= repeticion_campo2 %> <%= password_field_tag 'password_repeat' %></p>
		<%end%>
		<p><%= submit_tag boton%></p>
		<%if nueva_cuenta%>
		<p class="strong-purple"> <%= link_to "¿Desea crear una cuenta?" , "signup"%></p> 
		<%end%>
	</div>
<% end %>